/* RESET */
* {
    padding: 0;
    margin: 0;
}


/* METODO PER FIXARE IL FOOTER IN MODO CHE RESTI IN FONDO ALLA PAGINA ANCHE IN VERSIONE MOBILE */

/* ASSEGNO al body altezza 100% dello schermo */
html,
body {
    height: 100%;
}

/* ASSEGNO al footer il 100% dell'altezza della finestra, in modo che la visualizzazione non cambi a seconda della risoluzione del dispositivo */
footer.conteiner {
    min-height: 100vh;
}

/* MEDIA QUERIES di bootstrap specifiche per definire quando un elemento cambia stile*/
/* SE la dimensione massima dello schermo è minore o uguale a 992px (dimensione uguale allo stile col-lg-x)*/
@media (max-width: 992px) {

    /* ALLORA cambia la positione del footer da position absolut (fixed- difinito nella classe <div> nellìHTML del footer) a position (sticky) */
    .footer {
        position: sticky;
        bottom: 0;
    }
}

/* Questo metodo non considera gli adattamenti dovuti all'eventuale modifica dell 'height' della Viewport dell'utente: causando problemi di sovrapposizione del footer con gli elementi in fondo alla pagina*/
/* PROVARE A USARE IL METODO ALTERNATIVO CON <div> e classe .push per verificare se funziona meglio di questo sistema */